/* Styles for all pages */

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --text-fill: #334945;
  --text-stroke: #000;
  /* --color-primary: #394A59;
  --color-primary-light: #59758D;
  --color-secondary: #36BF7F;
  --color-accent: #D96666; */
}

.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding: 0 .75rem;
}

@media only screen and (min-width: 45rem){
  .container{
    padding: 0 1.5rem;
  }
}

h1 {
  font-size: 2.25rem;
}

@media only screen and (min-width: 45em) {
  h1{
  font-size: 3.5rem;
  }
}

body {
  font-family: 'Playfair Display', serif;
  line-height: 1.6;
  color: #edf5e1;
  background-color: #abdabc;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



/* ************** Header Styles ******************* */


.navbar {
  background: #292e2b;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #ffffff;
  /* padding: 15px; */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* width: 100%; */
  /* z-index: 1000;  */
}

.navbar .container {
  padding: 0;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 1.5rem; */
}

.navbar ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  transition: background 0.3s, padding 0.3s;
  font-size: 18px;
  padding: 1rem;
}

nav ul li a.active {
  background-color: #3a3e41;
  color: white;
}

nav ul li a i {
  margin-right: .5rem;
}

.navbar ul a:hover {
  background-color: #3a3e41;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  border: 0.125rem solid #ffffff;
}

@media only screen and (min-width: 45rem) {
  
  .navbar ul {
    display: flex;
    justify-content: center;
  }

  .navbar ul li a:hover {
    padding: 1rem 1.4rem;
    border: unset;
  }

}


footer {
  bottom: 0;
  left: 0;
  /* width: 100%; */
  background: #292e2b;
  text-align: center;
  padding: 1rem;
  box-shadow: 0px -1px 5px 5px rgba(0, 0, 0, 0.2);
  border-top: 2px solid #ffffff;
  flex-shrink: 0;
}


/* Specific styles for index.html */
main {
  flex: 1;
  /* padding-bottom: 3rem; */
  /* 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  padding: 20px; 
  */
}

#profile-pic {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #333;
  max-width: 100%;
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
}


/* @media (max-width: 800px) {
  #profile-pic {
    width: 40%;
    height: 40%
  }
} */

#home .intro {
  padding-top: 3rem;
}

#home .intro .container {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}


#home .intro h1 {
  margin-bottom: 1.5rem;
  /* color: #379683; */
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
}

#home .intro p {
  font-size: 1.5rem;
  /* color: #379683; */
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
}

#home .intro a,
#home .intro a:hover,
#home .intro a:visited,
#home .intro a:active {
  text-decoration: none; 
  /* color: #05386b; */
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
}
#home .intro a:hover {
  text-decoration: underline;
}

/* #home .intro a {
  &:hover,
  &:active,
  &:visited{
    text-decoration: none;
    -webkit-text-fill-color: var(--text-fill);
    -webkit-text-stroke: 1px var(--text-stroke);
  }
  
} */


/* #home .intro a { 
  text-decoration: none; 
  color: #05386b;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
}

#home .intro a:visited { 
  text-decoration: none;
  color: #05386b;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
}

#home .intro a:hover { 
  text-decoration: underline;
  color: #05386b;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
}

#home .intro a:active { 
  text-decoration: none;
  color: #05386b;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
} */






/**************** Resume Styling ****************/

#resume-page main .container {
  padding-top: 3rem;
}

#resume-page .resume  {
  border: 1px solid #000;
  padding: 1.25rem;
  margin-bottom: 3rem;
  background-color: #e2e2e2;
  border-radius: 1.25rem;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

#resume-page .resume a:link,
#resume-page .resume a:visited,
#resume-page .resume a:hover,
#resume-page .resume a:active { 
  text-decoration: none; 
  color: #05386b;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
}

#resume-page h1 {
  color: #379683;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
  text-align: center;
}

#resume-page h2 {
  font-size: 2em;
  color: #379683;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
  border-bottom: solid #333;
  margin-bottom: 10px;
}

#resume-page .resume p {
  font-size: 1em;
  color: #379683;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
  text-align: center;
}

#resume-page #education h2,
#resume-page #education p  {
  color: #379683;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
  text-align: left;
}

#resume-page #education ul {
  color: var(--text-stroke);
  padding-left: 20px;
}

#resume-page #education p strong {
  font-size: 1.5em;
}

#skills .skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; 
}

#skills .skills-grid h3 {
  color: #379683;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
  border-bottom: #000 solid;
  text-align: center;
}

#skills .skills-grid ul {
  color: #379683;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
}

#resume-page #qualifications ul {
  color: var(--text-stroke);
  padding-left: 20px;
}

#experience .job {
  margin-bottom: 10px;
}

#experience h3 {
  font-size: 1.3em;
  color: #379683;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
}

#experience h4, #experience h5 {
  font-size: 1em;
  color: #379683;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
  margin-bottom: 5px;
}

#experience ul {
  color: var(--text-stroke);
  padding-left: 20px;
}

#experience ul li {
  margin-bottom: 5px;
}

#work ul li {
  color: var(--text-stroke);
  padding-left: 5px;
}








/**************** Courses Styling ****************/

.courses {

  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);
}

.courses h1 {
  margin: .5rem 0;
}

.course-controls {
  display: flex;
  flex-direction: column;
  /* flex-flow: column wrap; */

  margin-top: .75rem;
  /* font-size: 1.5em; */
}

.course-controls input,
.course-controls select,
.course-controls button {
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5em;
  margin-bottom: .5rem;
  border-width: .065rem;
}

.course-controls input {
  max-width: 25rem;
}

/* TODO: Fix weird default styles on some browsers like safari */
.course-controls select {
  align-self: flex-start;
  margin-right: .5rem;
}

.controls {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 45em){


}


/* TODO: Probably change to grid or something */
#courseContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.course {
  border: 1px solid #000;
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  text-align: center;
  width: 400px;
  /* height: 400px; */
  overflow-wrap: break-word;
  background-color: #e2e2e2;
}

.course-thumbnail {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  border: 5px solid #333;
}

.course h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.course p {
  text-align: justify;
  margin-top: 10px;
  font-size: 0.95em;
}





/**************** Projects Styling ****************/


.projects {
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke);

}

.projects .container {
  /* padding: 0 5rem; */
  width: min(40em, 100%);
}

.project {
  /* width: min(40rem, 100%); */
  padding: 1.5rem;
  margin-bottom: 2rem;
  /* margin: 0 auto 2rem auto; */
  border: 1px solid #000;
  background-color: #e2e2e2;
  border-radius: 1.25rem;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.projects a:link,
.projects a:visited,
.projects a:hover,
.projects a:active { 
  text-decoration: none; 
  color: #05386b;
}

.projects h1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  /* color: #379683;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke); */
  /* text-align: center; */
}

.project h2 {
  font-size: 2rem;
  margin-top: 0.25rem;
  border-bottom: solid #333;
  margin-bottom: 10px;
  /* text-align: center; */
  /* color: #379683;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke); */
}



.projects p {
  /* font-size: 1em;
  text-align: left; */

  /* color: #379683;
  -webkit-text-fill-color: var(--text-fill);
  -webkit-text-stroke: 1px var(--text-stroke); */
}